apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: edu-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-service
        image: 625867134199.dkr.ecr.ap-south-1.amazonaws.com/notification-service:latest
        ports:
        - containerPort: 5004
        envFrom:
        - configMapRef:
            name: notification-config
