apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: edu-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: 625867134199.dkr.ecr.ap-south-1.amazonaws.com/user-service:latest
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: user-service-config
        - secretRef:
            name: user-service-secret
