apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-service
  namespace: edu-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: course-service
  template:
    metadata:
      labels:
        app: course-service
    spec:
      containers:
      - name: course-service
        image: 625867134199.dkr.ecr.ap-south-1.amazonaws.com/course-service:latest
        ports:
        - containerPort: 5001
        envFrom:
        - configMapRef:
            name: course-service-config
        - secretRef:
            name: course-service-secret
