apiVersion: apps/v1
kind: Deployment
metadata:
  name: content-service
  namespace: edu-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: content-service
  template:
    metadata:
      labels:
        app: content-service
    spec:
      containers:
      - name: content-service
        image: 625867134199.dkr.ecr.ap-south-1.amazonaws.com/content-service:latest
        ports:
        - containerPort: 5002
        envFrom:
        - configMapRef:
            name: content-service-config
